* {
  margin: 0;
  padding: 0;
}

html {
  background: #28243c;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

#container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* CONTAINERS */

.container-one {
  background: #2a2c4c;
}

.subcontainer-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info-buttons {
  padding-left: 4rem;
}

.container-image img {
  height: 85%;
  width: 85%;
  max-height: 45rem;
  max-width: 45rem;
  min-width: 18rem;
  min-height: 18rem;
}

.container-two {
  background: #232444;
}

.flex-center {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.divider-small-red {
  border: 0.1rem solid #721f32;
  border-radius: 5rem;
  width: 8rem;
}

.cards {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding-bottom: 5rem;
  width: 80rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-habilities {
  color: #efecee;
  font-weight: bold;
  font-size: 10vh;
}

.js-icon {
  color: #efecee;
  font-weight: bold;
  font-size: 8rem;
}

.container-three {
  background: #2a2c4c;
}

.container-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.container-about-image {
  display: flex;
  justify-content: end;
}

.container-about-image img {
  max-height: 75%;
  max-width: 70%;
}

.container-about-text {
  width: 65%;
  display: flex;
  align-items: center;
}

.contact-info-container {
  padding-top: 2rem;
  display: flex;
}

.email-container {
  margin-right: 4rem;
}

.text-contact {
  text-align: left;
}

.contact-title {
  color: #d24759;
  font-weight: bold;
}

.contact-info {
  color: #efecee;
}

/* MEDIA BUTTONS */

.media-button {
  background: #141b2c;
  width: 3rem;
  height: 3rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #721f32;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.icon {
  color: #fff;
  font-size: 1.3rem;
}

/* TEXTS */

.big-title {
  color: #efecee;
  font-weight: bold;
  font-size: 4vw;
}

.card-text {
  color: #efecee;
  font-weight: semi-bold;
  font-size: 2vh;
  margin-left: 1rem;
}

.medium-text {
  color: #efecee;
  font-size: 2vw;
}

.normal-text {
  color: #efecee;
  font-size: 1.6vw;
}
/* FOOTER */

footer {
  background: #d7dbdd;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

#menu-burguer {
  display: none;
}

/* XL */

@media (min-width: 700px) {
  .container-title-sm {
    display: none;
  }
  .container-about-text-sm {
    display: none;
  }

  .card {
    margin: 1.5rem;
  }

}

/* SM */
@media (max-width: 420px) {
  .container-title-xl {
    display: none;
  }

  .card {
    margin: 1.5rem;
  }

  .container-title-sm {
    padding-top: 1rem;
    text-align: center;
  }

  .container-about-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-about-text-sm {
    display: flex;
    justify-content: center;
  }

  .subcontainer-about-sm {
    width: 60%;
  }

  .contact-info-container {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-title {
    color: #d24759;
    font-weight: bold;
    font-size: 1.5vw;
  }

  .contact-info {
    color: #efecee;
    font-size: 1.5vw;
  }

  .container-about-text {
    display: none;
  }
}
